.nav-link{
    border:2px solid transparent;
}
.nav-link:hover{
    background-color: rgba(165, 42, 42, 0.25);
    border-color: rgba(165, 42, 42, 0.5);
    border-radius:5px;
}


.success-hilit {
    background:#0f05;
    margin: 0px 4px 0px 4px;
}

.danger-hilit {
    background:#f005;
    margin: 0px 4px 0px 4px;
}
.warning-hilit {
    background:#ff05;
    margin: 0px 4px 0px 4px;
}

.list-group-item{
    cursor: pointer;
}

.controls{
    display: none;
}

.list-group-item:hover > .controls{
    display: inline-block;
}

.stats{
    font-size:12px;

}
.stats span{
    margin-left:10px;
    margin-right:10px;
    padding:2px;
    padding-left: 10px;
    padding-right: 10px;
    /* border:1px solid #eee; */
}

#sents{
    background: #f005;
}
#vents{
    background: #0f05;
}
#dents{
    background: #ff05;
}
